<div class="hero">
  <h1 class="index"> Your cart: </h1>
</div>

<table class="index">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to(product.name,product_path(product)) %></td>
      <td><%= product.price %></td>

    </tr>
  <% end %>

</table>
