<div class="hero">
  <h1> Just Another Online Shopping Website </h1>
</div>

<div class="container product_list_container">
  <table>
    <tr>
      <td>Product Name</td>
      <td>Price</td>
    </tr>
    <%= render partial: 'product_row', collection: @products %>
  </table>
</div>

<div class="link_container">
<%= link_to "Create a new product", new_product_path, class: "btn create" %>
</div>
