
<h1> Add a Product </h1>

<div class="container">
  <%= render partial: 'form' %>
</div>


<div class="link_container">
  <%= link_to "Return to All Products", products_path, class: "btn return" %>
</div>
